doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="./css/style.css")
    title Pugテスト
  body
    include ./_includes/_header.pug
    main
      .wrap
        img(src="./images/page_1.jpg")
        p メインコンテンツのテキストタイトル
    include ./_includes/_footer.pug
