doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="./css/style.css")
    title pjaxテスト1
  body
    include ./_includes/_header.pug
    main#barba-wrapper
      .wrap.barba-container
        img(src="./images/page_1.png")
        p メインコンテンツのテキスト
    include ./_includes/_footer.pug
