doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="./css/style.css")
    title pjaxテスト2
  body
    include ./_includes/_header.pug
    main#barba-wrapper
      .wrap.barba-container
        img(src="./images/page_2.png")
        p 2ページ目のテキスト
    include ./_includes/_footer.pug
