doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    style(src="css/style.css")
    title Pugテスト3
  body
    include ./_includes/_header.pug
    main
      .wrap
        p メインコンテンツのテキストタイトル
    include ./_includes/_footer.pug
